$FontPathCaviarDreams = "./fonts"

@font-face
  font-family: 'Caviar Dreams'
  font-weight: normal
  font-style: normal
  src: url("{$FontPathCaviarDreams}/Regular/CaviarDreams-Regular.eot")
  src: url("{$FontPathCaviarDreams}/Regular/CaviarDreams-Regular.eot?#iefix") format("embedded-opentype"), url("{$FontPathCaviarDreams}/Regular/CaviarDreams-Regular.woff2") format("woff2"), url("{$FontPathCaviarDreams}/Regular/CaviarDreams-Regular.woff") format("woff"), url("{$FontPathCaviarDreams}/Regular/CaviarDreams-Regular.ttf") format("truetype"), url("{$FontPathCaviarDreams}/Regular/CaviarDreams-Regular.svg#CaviarDreamsRegular") format("svg")

@font-face
  font-family: 'Caviar Dreams'
  font-weight: normal
  font-style: italic
  src: url("{$FontPathCaviarDreams}/Italic/CaviarDreams-Italic.eot")
  src: url("{$FontPathCaviarDreams}/Italic/CaviarDreams-Italic.eot?#iefix") format("embedded-opentype"), url("{$FontPathCaviarDreams}/Italic/CaviarDreams-Italic.woff2") format("woff2"), url("{$FontPathCaviarDreams}/Italic/CaviarDreams-Italic.woff") format("woff"), url("{$FontPathCaviarDreams}/Italic/CaviarDreams-Italic.ttf") format("truetype"), url("{$FontPathCaviarDreams}/Italic/CaviarDreams-Italic.svg#CaviarDreamsItalic") format("svg")

@font-face
  font-family: 'Caviar Dreams'
  font-weight: bold
  font-style: normal
  src: url("{$FontPathCaviarDreams}/Bold/CaviarDreams-Bold.eot")
  src: url("{$FontPathCaviarDreams}/Bold/CaviarDreams-Bold.eot?#iefix") format("embedded-opentype"), url("{$FontPathCaviarDreams}/Bold/CaviarDreams-Bold.woff2") format("woff2"), url("{$FontPathCaviarDreams}/Bold/CaviarDreams-Bold.woff") format("woff"), url("{$FontPathCaviarDreams}/Bold/CaviarDreams-Bold.ttf") format("truetype"), url("{$FontPathCaviarDreams}/Bold/CaviarDreams-Bold.svg#CaviarDreamsBold") format("svg")

@font-face
  font-family: 'Caviar Dreams'
  font-weight: bold
  font-style: italic
  src: url("{$FontPathCaviarDreams}/BoldItalic/CaviarDreams-BoldItalic.eot")
  src: url("{$FontPathCaviarDreams}/BoldItalic/CaviarDreams-BoldItalic.eot?#iefix") format("embedded-opentype"), url("{$FontPathCaviarDreams}/BoldItalic/CaviarDreams-BoldItalic.woff2") format("woff2"), url("{$FontPathCaviarDreams}/BoldItalic/CaviarDreams-BoldItalic.woff") format("woff"), url("{$FontPathCaviarDreams}/BoldItalic/CaviarDreams-BoldItalic.ttf") format("truetype"), url("{$FontPathCaviarDreams}/BoldItalic/CaviarDreams-BoldItalic.svg#CaviarDreamsBoldItalic") format("svg")
